{% extends "@home/Layout.html.twig" %}
{% block style %}
{{parent()}}
{% endblock %}
{% block title %}Produkty{% endblock %}
{% block menuBottomMain %}
<div class="menu-bottom-main">
	<div class="container">
		{{render_page_cat({parent: categoryMain, menu: 'on'})}}			
	</div>
</div>
{% endblock menuBottomMain %}

{% block breadcrumps %}	
<div class="breadcrumps">
	<div class="container">
		<span>
		<a href="/{{app.request.locale}}">{% trans %}Home{% endtrans %}</a>->
		<a href="">{{ category.name|capitalize}}
		</a>					
		</span>
	</div>
</div>
{% endblock breadcrumps %}	
{% block sections %}
<div class="product-section">
	<div class="container">	
		<div class="col-xs-12 col-sm-3 reset-padding ">
			<ul class="side-menu">
			{% for item in entities %}
				<li><a href="{{ path('product_show', { 'id': item.id }) }}" class="" ><span class="menu-span">{{item.name}}</span></a></li>
			{% endfor %}
			</ul>
		</div>
		{% block productContent %}
		<div class="col-xs-12 col-sm-9 product-info">
				<h1>RIA {{ category.name |capitalize}}</h1>
				<div class="text-justify"><p>{{category.description}}</p></div>

			<div class="products-cont col-xs-12 reset-padding">
			{% for item in entities %}
				<div class="col-sm-3 col-xs-6 reset-padding">
					<a href="{{ path('product_show', { 'id': item.id }) }}" class="product-cont" >
						<div class="img-cont">
							{% if item.media %}
							<img src="{% path item.media, 'big' %}" alt="{{item.media? item.media.name }}" class="img-responsive" style="" />			
							{% else %}
							<img src="/img/blank.png" alt="" class="img-responsive col-xs-12" style="height: 100%; width: 100%; " />
							{% endif %}
							<div>
 							<h5>{{item.name}}</h5>
							</div>
						
						</div>
					</a>
				</div>
			
			{% endfor %}
			</div>
			<div class="col-xs-12 reset-padding garniture-cont">
				<!--<h4>{% trans %}Realizacje{% endtrans %}</h4>-->
		        {#{ render_portfolios_by_length ({'length': 2}) }#}
			</div>
			<!--
			<div class="col-xs-12 reset-padding garniture-cont">
				<h4>{% trans %}Dodatki{% endtrans %}</h4>
				<div class="row">
		        {{ render_section_by_id({'id': 1}) }}
				</div>
			</div>
			-->
		</div>
		{% endblock productContent %}
	</div>
</div>

{% endblock %}
